<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: mainHead('Lägg till ny station')"/>
    <body>
        <div th:replace="fragments/navigation :: standard"/>
        <div class="col-xs-12">
            <h1>
                Station
            </h1>
            <form class="form-horizontal" th:action="@{/admin/station}" method="post">
                <div class="form-group">
                    <label class="col-sm-2" for="id-title">ID</label>
                    <span class="col-sm-4" id="id-title" th:text="${station.uuid}"></span>
                </div>
                <div class="form-group">
                    <label class="col-sm-2" for="name">Namn</label>
                    <input class="col-sm-2" id="name" type="text" name="name" th:value="${station.name}"/>
                </div>
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span>Spara</button>
            </form>

        </div>
    </body>
</html>